/RemoteRegistry.class
/RemoteRegistryIntf.class
/RemoteRegistryTest.class
/RemoteRegistryTestTerratest.class
/RemoteRegistryTestTerraTest.class
/findTerraTest.class
/Responder.class
/ResponderIntf.class
/ResponderTest.class
